@font-face {
  font-family: 'Stylo';
  src:
  url('../font/HelveticaNeueCyr.woff') format('woff'),
  url('../font/HelveticaNeueCyr.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  }
  